body {
    background-color: #FFECD1;
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #001524;
}

/* div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    width: 400px;
    border: 1px solid #CB7254;
} */


div {
    margin: 4%;
    border-radius: 20px;
    padding: 4%;
    background-color: #78290F;
    align-items: center;
    justify-content: center;
    border: 1px solid #001524;
    color: #FFECD1;
}

#container {
    margin-top: 1%;
    background-color: #15616D;
}

h3 {
    margin-top: 1px;
    margin-bottom: 0;
}

h4 {
    margin-top: 1px;
    margin-bottom: 0;
}

p {
    margin-top: 2px;
}

a {
    text-decoration: none;
    color: #FF7D00;
}

img {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10vw;
    padding-top: 1vw;
}

/* NAV BAR CSS */
ul {
    list-style: none; /* gets rid of bullets */
    display: flex;
    margin: 0;
    padding: 10px 0px;
    justify-content: flex-end;
    background-color: #FF7D00;
}

li a {
    text-decoration: none; /* gets rid of underline */
    color: #001524;
    padding: 10px 30px; /* first val: top/bottom, second val: left/right */
    
}

li a:hover {
    background-color: #001524;
    color: #FF7D00;
}

li a:active {
    background-color: #FFECD1;
    border: solid .5px #FF7D00;
}
/* END OF NAV BAR CSS */


@media screen and (max-width: 500px){
    ul {
        flex-direction: column;
    }
    li {
        padding: 5px;
        justify-content: flex-start;
    }
    li a {
        padding-right: 80vw;
    }
    li a:hover {
        background-color: red;
    }
}


/* @media screen
    and (min-width: 1500px)
    and (min-height: 1000px)
 {
  .container {
  grid-template-columns:
     1fr 1fr;
  grid-template-areas:
    "heady heady"
    "navvy navvy"
    "mainy mainy"
    "aside1 aside2"
    "footy footy";
  }
  }end desktop media query */