body {
    background-color: #FFECD1;
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #001524;
}


h2 {
    margin-bottom: 0;
}

h3 {
    margin-top: 1px;
    margin-bottom: 0;
}

h4 {
    margin-top: 1px;
    margin-bottom: 0;
}

p {
    margin-top: 2px;
}

a {
    text-decoration: none;
    color: #FF7D00;
}

/* NAV BAR CSS */
ul {
    list-style: none; /* gets rid of bullets */
    display: flex;
    margin: 0;
    padding: 10px 0px;
    justify-content: flex-end;
    background-color: #FF7D00;
}

li a {
    text-decoration: none; /* gets rid of underline */
    color: #001524;
    padding: 10px 30px; /* first val: top/bottom, second val: left/right */
    
}

li a:hover {
    background-color: #001524;
    color: #FF7D00;
}

li a:active {
    background-color: #FFECD1;
    border: solid .5px #FF7D00;
}
/* END OF NAV BAR CSS */